<?xml version="1.0" encoding="UTF-8"?>
<!--The XML tag is used for nano and gedit colors -->

<!-- This launch file starts the static tranform nodes needed
It assumes that tf2 is installed -->
<launch>

    <node name="link_tsl2561_broadcaster" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_link tsl2561_link" />
    <node name="link_laser_broadcaster" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_link laser" />

</launch>
